# Ignore cache
**/__pycache__/**
**/revanced-cache/**

# Ignore ReVanced dependencies
revanced-cli*.jar
revanced-patches*.jar
revanced-patches*.json
revanced-integrations*.apk
revanced-cli*.jar
patches*.jar
patches*.json
integrations*.apk
options.json

# Ignore stuff
launch.bat
static/unused/*
templates/unused/*
bin/*