<!-- Terminal window -->
<div class="relative grow xl:max-h-full max-h-32">
    {% if package %}
    <div id="terminal-window" class="bg-zinc-800 rounded-vanced p-6 w-full h-full overflow-y-scroll absolute">
        <!-- Terminal -->
        <p id="terminal" class="font-mono">Waiting to start...</p>
    </div>
    {% else %}
    <div id="terminal-window"
        class="bg-zinc-800 rounded-vanced p-6 w-full h-full overflow-y-scroll absolute disabled-button">
        <!-- Terminal -->
        <p id="terminal">Upload an apk file first.</p>
    </div>
    {% endif %}
    <!-- Download button -->
    <button id="download-button"
        class="p-4 bg-blue-900 hover:bg-blue-700 rounded-vanced absolute bottom-4 right-4 hidden">
        <i class="fa-solid fa-file-arrow-down"></i>&nbsp;&nbsp;&nbsp;Download patched apk
    </button>
</div>