<!-- Terminal window -->
<div class="relative grow xl:max-h-full max-h-32">
    <div id="terminal-window" 
        class="revanced-panel revanced-rounded p-6 w-full h-full overflow-y-scroll absolute pointer-events-none disabled-button">
        <!-- Terminal -->
        <p id="terminal" class="font-mono"></p>
    </div>
    <!-- Download button -->
    <button id="download-button"
        class="p-4 revanced-button revanced-rounded absolute bottom-4 right-4 hidden">
        <i class="fa-solid fa-file-arrow-down"></i>&nbsp;&nbsp;&nbsp;Download patched apk
    </button>
</div>